.samazon-header-container {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.samazon-header-search-input {
    border: solid 1px #e5e5e5;
}

.samazon-header-search-button {
    background-color: #0fbe9f;
}

.samazon-header-search-icon {
    color: #ffffff;
}

.samazon-header-fav-icon {
    color: #191919;
}

.samazon-header-shoppingcart-icon {
    color: #ffffff;
}

.samazon-favorite-button {
    border-radius: 2px;
    border: solid 1px #0fbe9f;
    background-color: #ffffff;
}

.text-favorite {
    color: #0fbe9f;
}

.samazon-sidebar-category-label {
    width: 156px;
    height: 20px;
    font-family: YuGo;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #191919;
}